<footer class="footer-area">
    <div class="container">
        <div class="footer-content">
            <div class="logo">
                <a routerLink="/home-thirty-two">
                    <img style="height: 90px" src="../../../../assets/img/logo_qv.svg" alt="image">
                </a>
            </div>

            <div class="footer-contact-info">
                <ul>
                    <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">78467 Constance, Baden-Württemberg, Germany</a></li>
                    <li><i class="ri-phone-line"></i> <a href="tel:+321984754">+49 151 56 42 48 31</a></li>
                    <li><i class="ri-mail-line"></i> <a href="mailto:hello@placid.com">qendrim.vllasa@gmail.com</a></li>
                </ul>
            </div>

            <ul class="social">
                <li><a href="#" target="_blank">Facebook</a></li>
                <li><a href="#" target="_blank">Twitter</a></li>
                <li><a href="#" target="_blank">Linkedin</a></li>
                <li><a href="#" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom-area">
        <div class="container">
            <p>Copyright <i class="ri-copyright-line"></i>2020 Qendrim Vllasa. All Rights Reserved.</p>
        </div>

        <div class="line"></div>
    </div>
</footer>
