<section id="contact" class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="contact-content">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="section-title">
                                <h2>Get in Touch With Me</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="contact-form bg-0f1d22">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="contactForm">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input formControlName="email" type="email" name="email" id="email" class="form-control"
                                           required
                                           placeholder="Enter your email">
                                    <div class="py-2" style="color: indianred" *ngIf="!form.get('email').valid && form.get('email').touched">No email? But who are you then...<span style="font-size: 22px" >🤔</span> </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input formControlName="subject" type="text" name="subject" id="subject" class="form-control" required
                                           placeholder="What do you want to talk about?">
                                    <div class="py-2" style="color: indianred" *ngIf="!form.get('subject').valid && form.get('subject').touched">Please help me categorize your request! <span style="font-size: 22px" >😬</span></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                            <textarea formControlName="content" required name="content" class="form-control" id="content" cols="30"
                                                      rows="5" placeholder="Tell me what's in your mind."></textarea>
                                    <div class="py-2" style="color: indianred" *ngIf="!form.get('content').valid && form.get('content').touched">You really have nothing to say? <span style="font-size: 22px" >😔</span></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <button mat-dialog-close type="submit" [disabled]="!form.valid" class="default-btn">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


