<div id="main-content" class="main-content" *ngIf="!isLoading">

    <div class="responsive-burger-menu">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>


    <div class="home-area">
        <div class="main-banner">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let banner of banners; let i=index">
                    <ng-template *ngIf="banner.mimeType === 'image/webp'" carouselSlide>
                        <img  class="banner-image" [src]="serverPath+banner.contentUrl" alt="profile_banner" (error)="errorHandler($event, banner)">
                    </ng-template>
                </ng-container>
<!--                <ng-template carouselSlide>-->
<!--                    <div fxHide.lt-md="true">-->
<!--                        <app-vjs-player [options]="vjsOptions"></app-vjs-player>-->
<!--                    </div>-->
<!--                </ng-template>-->
            </owl-carousel-o>
        </div>
        <div class="banner-content">
            <span class="sub-title">Hi I'am</span>
            <h1>Qendrim Vllasa</h1>
            <app-type-writer [content]="typeWriterText"></app-type-writer>
        </div>
    </div>

    <section id="about" class="about-area ptb-120">
       <app-about-me
           [aboutMe]="aboutMe"
           [skills]="skills"
           [profileImages]="profileImages"
           [experiences]="experiences"></app-about-me>
    </section>
    <section id="stack" class="pt-120 pb-90 bg-0f1d22">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Stack</span>
                <h2>Technologies I regularly use</h2>
            </div>
        </div>
        <div class="container m-auto">
            <mat-grid-list gutterSize="12px" cols="3" rowHeight="3:1">
                <mat-grid-tile *ngFor="let stack of stacks">
                    <a [href]="stack.url">
                        <img [matTooltip]="stack.title" [src]="serverPath+stack.contentUrl" alt="image"
                             style="max-height: 70px;">
                    </a>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </section>
    <section id="services" class="services-area pt-120 pb-120">
        <div class="container">
            <div class="section-title pb-90">
                <span class="sub-title ">Services</span>
                <h2>What I can do for you</h2>
            </div>
            <app-service-item [services]="services"></app-service-item>
        </div>
    </section>

    <section id="portfolio" class="works-area pt-120 pb-90 bg-0f1d22">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Works</span>
                <h2>Some of My latest Projects</h2>
            </div>
            <app-project-item [projects]="projects"></app-project-item>
        </div>
    </section>

    <div class="my-clients-area ptb-120">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Experience</span>
                <h2>Companies I worked with</h2>
            </div>

            <app-client-item [clients]="clients"></app-client-item>
        </div>
    </div>

    <!--     <section class="feedback-area">
             <app-testimonial-item [testimonials]="testimonials"></app-testimonial-item>
         </section>-->


    <section class="hire-me-area bg-0f1d22 ptb-120 bg-0f1d22">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="hire-me-content">
                        <span class="sub-title">Project in mind? Let's talk!</span>
                        <h2>I am Available for Freelance Hire</h2>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12">
                    <div class="hire-me-btn">
                        <a class="default-btn" style="cursor: pointer" (click)="openDialog()">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>
