<div id="main-content" class="main-content" >
    <div class="home-area" *ngIf="!isLoading">
        <div class="main-banner">
            <div  fxHide.lt-md="false" [fxHide]="!image">
                <ng-container *ngIf="banners[0]">
                    <img wmAnimate="fadeIn" aos="0.1" speed="normal" class="banner-image"  [src]="serverPath+banners[0].contentUrl" alt="profile_banner"
                         (error)="errorHandler($event, banners[0])">
                </ng-container>
                <ng-container *ngIf="!banners[0]">
                    <div class="bg-0f1d22"></div>
                </ng-container>
            </div>
            <div wmAnimate="fadeIn" aos="0.1" speed="normal" fxHide.lt-md="true" [fxHide]="!video" *ngFor="let vjsOption of vjsOptions">
                <app-vjs-player (ready)="checkVideo($event)" [options]="vjsOption"></app-vjs-player>
            </div>
        </div>
        <div class="banner-content">
            <span class="sub-title">Hi I'am</span>
            <h1>Qendrim Vllasa</h1>
            <app-type-writer [content]="typeWriterText"></app-type-writer>
        </div>
        <div class="arrow bounce">
            <mat-icon [inline]="true" class="material-icons-round">arrow_downward</mat-icon>
        </div>
    </div >
    <section wmAnimate="fadeIn" aos="0.1" speed="fast" id="about" class="about-area ptb-120">
        <ng-container  *ngIf="!isLoading">
            <app-about-me
                [aboutMe]="aboutMe"
                [skills]="skills"
                [profileImages]="profileImages"
                [experiences]="experiences"></app-about-me>
        </ng-container>
    </section>
    <section wmAnimate="fadeIn" aos="0.1" speed="fast" id="stack" class="pt-120 pb-90 bg-0f1d22">
        <ng-container *ngIf="!isLoading" >
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">Stack</span>
                    <h2>Technologies I regularly use</h2>
                </div>
            </div>
            <div class="container m-auto">
                <mat-grid-list gutterSize="12px" cols="3" rowHeight="3:1">
                    <mat-grid-tile *ngFor="let stack of stacks">
                        <a [href]="stack.url">
                            <img [matTooltip]="stack.title" [src]="serverPath+stack.contentUrl" alt="image"
                                 style="max-height: 70px;">
                        </a>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </ng-container>
    </section>
    <section wmAnimate="fadeIn" aos="0.3"  speed="fast" id="services" class="services-area pt-120 pb-120">
        <ng-container *ngIf="!isLoading">
            <div class="container" >
                <div class="section-title pb-90">
                    <span class="sub-title ">Services</span>
                    <h2>What I can do for you</h2>
                </div>
                <app-service-item [services]="servicePost"></app-service-item>
            </div>
        </ng-container>
    </section>
    <section wmAnimate="fadeIn" aos="0.1" speed="fast" id="portfolio" class="works-area pt-120 pb-90 bg-0f1d22">
        <ng-container *ngIf="!isLoading">
            <div class="container" >
                <div class="section-title">
                    <span class="sub-title">Works</span>
                    <h2>Some of My latest Projects</h2>
                </div>
                <app-project-item [projects]="projects"></app-project-item>
            </div>
        </ng-container>
    </section>
    <section wmAnimate="fadeIn" aos="0.1" speed="fast" class="my-clients-area ptb-120">
        <ng-container *ngIf="!isLoading">
            <div class="container" >
                <div class="section-title">
                    <span class="sub-title">Experience</span>
                    <h2>Companies I work(ed) with</h2>
                </div>

                <app-client-item [clients]="clients"></app-client-item>
            </div>
        </ng-container>
    </section>
    <section wmAnimate="fadeIn" aos="0.1" speed="fast" class="hire-me-area bg-0f1d22 ptb-120 bg-0f1d22">
        <ng-container *ngIf="!isLoading">
            <div class="container" *ngIf="!isLoading">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12">
                        <div class="hire-me-content">
                            <span class="sub-title">Project in mind? Let's talk!</span>
                            <h2>Currently not available for Freelance Hire but always for Business Talks and Future
                                Projects. 🙋‍♂️</h2>
                            <span class="sub-title">Reach out to me.</span>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12">
                        <div class="hire-me-btn">
                            <a class="default-btn" style="cursor: pointer" (click)="openDialog()">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </section>
    <app-footer></app-footer>
</div>
