<div id="main-content" class="main-content">

    <div class="responsive-burger-menu">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>


    <div class="home-area">
        <div class="main-banner">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img class="banner-image" src="assets/img/banner.webp" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <div fxHide.lt-md="true">
                        <app-vjs-player [options]="vjsOptions"></app-vjs-player>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="banner-content">
            <span class="sub-title">Hi I'am</span>
            <h1>Qendrim Vllasa</h1>
            <app-type-writer [content]="typeWriterText"></app-type-writer>
        </div>


    </div>

    <section id="about" class="about-area ptb-120">
        <div class="container">
            <div @fadeInUp class="section-title">
                <span class="sub-title">About Me</span>
                <h2 style="line-height: 1.2">{{aboutMe.quote}}</h2>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-12">
                    <div class="about-content">
                        <p>{{aboutMe.text}}</p>
                        <div class="tab about-list-tab">
                            <ul class="tabs">
                                <li [ngClass]="activeTab === 'top-skills' ? 'about-list-tab tabs li current' : ''"
                                    (click)="onToggleTabs('top-skills')">Top Skills
                                </li>
                                <li [ngClass]="activeTab === 'experience' ? 'about-list-tab tabs li current' : ''"
                                    (click)="onToggleTabs('experience')">Experience
                                </li>
                                <li [ngClass]="activeTab === 'education' ? 'about-list-tab tabs li current' : ''"
                                    (click)="onToggleTabs('education')">Education
                                </li>
                            </ul>
                            <div class="tab-content">
                                <ng-container *ngIf="activeTab === 'top-skills'">
                                    <app-skills [skills]="skills"></app-skills>
                                </ng-container>
                                <ng-container *ngIf="activeTab === 'experience'">
                                    <app-experience-item [experiences]="experiences"></app-experience-item>
                                </ng-container>
                                <ng-container *ngIf="activeTab === 'education'">
                                    <app-education-item></app-education-item>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="about-image">
                        <img [src]="profileImg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="stack" class="pt-120 pb-90 bg-0f1d22">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Stack</span>
                <h2>Technologies I regularly use</h2>
            </div>
        </div>
        <div class="container m-auto">
            <mat-grid-list gutterSize="12px" cols="3" rowHeight="3:1">
                <mat-grid-tile *ngFor="let stack of stacks">
                    <a [href]="stack.url">
                        <img [matTooltip]="stack.title" [src]="serverPath+stack.contentUrl" alt="image"
                             style="max-height: 70px;">
                    </a>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </section>
    <section id="services" class="services-area pt-120 pb-120">
        <div class="container">
            <div class="section-title pb-90">
                <span class="sub-title ">Services</span>
                <h2>What I can do for you</h2>
            </div>
            <app-service-item [services]="services"></app-service-item>
        </div>
    </section>

    <section id="portfolio" class="works-area pt-120 pb-90 bg-0f1d22">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Works</span>
                <h2>Some of My latest Projects</h2>
            </div>
            <app-project-item [projects]="projects"></app-project-item>
        </div>
    </section>

    <div class="my-clients-area ptb-120">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Experience</span>
                <h2>Companies I worked with</h2>
            </div>

            <app-client-item [clients]="clients"></app-client-item>
        </div>
    </div>

    <!--     <section class="feedback-area">
             <app-testimonial-item [testimonials]="testimonials"></app-testimonial-item>
         </section>-->


    <section class="hire-me-area bg-0f1d22 ptb-120 bg-0f1d22">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="hire-me-content">
                        <span class="sub-title">Project in mind? Let's talk!</span>
                        <h2>I am Available for Freelance Hire</h2>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12">
                    <div class="hire-me-btn">
                        <a class="default-btn" style="cursor: pointer" (click)="openDialog()">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>
