<div class="tabs-item">
    <div class="skills-area">
        <div  class="row">
            <div  class="col-lg-6 col-md-6 col-sm-6" *ngFor="let skill of skills; index as i">
                <ng-container *ngIf="isEven(i)">
                    <div @fadeInRight class="skills-item">
                        <div class="skills-header">
                            <h3 class="skills-title">{{skill.title}}</h3>

                            <div class="skills-percentage">
                                {{skill.value}}%
                            </div>
                        </div>

                        <div class="skills-bar">
                            <div class="bar-inner">
                                <div [ngStyle]="{'width': skill.value+'%'}" class="bar"></div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!isEven(i)">
                    <div @fadeInLeft class="skills-item">
                        <div class="skills-header">
                            <h3 class="skills-title">{{skill.title}}</h3>

                            <div class="skills-percentage">
                                {{skill.value}}%
                            </div>
                        </div>

                        <div class="skills-bar">
                            <div class="bar-inner">
                                <div [ngStyle]="{'width': skill.value+'%'}" class="bar"></div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>
</div>

