
<div id="main-content" class="main-content">

    <div class="responsive-burger-menu">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>

    <section class="services-details-area bg-0f1d22 ptb-120">
        <div class="container">
            <div class="services-details-overview">
                <div class="services-details-desc">
                    <h3>Business Research</h3>
                    <p>We believe brand interaction is key in communication. Real innovations and a positive customer
                        experience are the heart of successful communication. No fake products and services. The
                        customer is king, their lives and needs are the inspiration.</p>

                    <div class="features-text">
                        <h4><i class="ri-check-line"></i> Core Development</h4>
                        <p>No fake products and services. The customer is king, their lives and needs are the
                            inspiration.</p>
                    </div>

                    <div class="features-text">
                        <h4><i class="ri-check-line"></i> Define Your Choices</h4>
                        <p>No fake products and services. The customer is king, their lives and needs are the
                            inspiration.</p>
                    </div>
                </div>

                <div class="services-details-image">
                    <img src="../../../assets/img/blog/img9.jpg" alt="image">
                </div>
            </div>

            <div class="services-details-overview">
                <div class="services-details-image">
                    <img src="../../../assets/img/blog/img1.jpg" alt="image">
                </div>

                <div class="services-details-desc">
                    <h3>Email Marketing</h3>
                    <p>We believe brand interaction is key in communication. Real innovations and a positive customer
                        experience are the heart of successful communication. No fake products and services. The
                        customer is king, their lives and needs are the inspiration.</p>

                    <div class="features-text">
                        <h4><i class="ri-check-line"></i> Core Development</h4>
                        <p>No fake products and services. The customer is king, their lives and needs are the
                            inspiration.</p>
                    </div>

                    <div class="features-text">
                        <h4><i class="ri-check-line"></i> Define Your Choices</h4>
                        <p>No fake products and services. The customer is king, their lives and needs are the
                            inspiration.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <app-footer></app-footer>
</div>


