{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
   <div>
       From:  {{ from }} <br>
       Subject: {{ subject }} <br>
       Content: {{ content }}
   </div>
{% endblock %}
