.single-clients img{
    height: auto;
    max-height: 65px;
    filter: invert(1) grayscale(100%);
}

.no-filter{
    filter: invert(0) grayscale(0) !important;
}

mat-grid-tile a{
    height:inherit;
    width: inherit;
    img {
        height:inherit;
        width: inherit;
        object-fit: cover;
        filter: invert(1) grayscale(1);
    }
}




mat-grid-tile a img:hover{
    filter: invert(0) grayscale(0);
    transition: 0.5s;
}

/*================================================
ML Partner CSS
=================================================*/
/**SA***/
.owl-carousel{
    display: block !important;
}


.ml-partner-area.mt-minus-top {
    margin-top: -80px;
}

.single-ml-partner {
    text-align: center;
}

.single-ml-partner a {
    display: block;
    position: relative;
}

.single-ml-partner a img {
    width: auto !important;
    display: inline-block !important;
}

.single-ml-partner a img:last-child {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.single-ml-partner a:hover img:last-child, .single-ml-partner a:focus img:last-child {
    opacity: 1;
    visibility: visible;
    top: 0;
}


.works-image a img{
    height: 250px;
}
