<div id="main-content" class="main-content" *ngIf="!isLoading">

    <div class="responsive-burger-menu">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>


    <div class="home-area">
        <div class="home-slides owl-carousel owl-theme">
            <div class="main-banner bg-dark"></div>
        </div>

        <div class="banner-content">
            <span class="sub-title">Hi I'am</span>
            <h1>Qendrim Vllasa</h1>
            <h6>
                    <span class="typewrite" data-period="2000"
                          data-type='[ "Technology Enthusiast", "Developer by Heart", "Dronepilot and Videographer"]'>
                        <span class="wrap"></span>
                    </span>
            </h6>
        </div>

        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>

    <section id="about" class="about-area ptb-120">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">About Me</span>
                <h2>{{aboutMe.quote}}</h2>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-8 col-md-12">
                    <div class="about-content">
                        <p>{{aboutMe.text}}</p>

                        <div class="tab about-list-tab">
                            <ul class="tabs">
                                <li>Top Skills</li>
                                <li>Experience</li>
                                <li>Education</li>
                            </ul>
                            <div class="tab-content">
                                <div class="tabs-item">
                                    <div class="skills-area">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let skill of skills">
                                                <app-skill-item [skill]="skill" ></app-skill-item>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="tabs-item">
                                    <div class="experience-area">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="single-experience-box">
                                                    <span>01/2020 - TODAY <br> Software Engineer | IT Consulting</span>
                                                    <h3>PEC - Project Engineers & Consultants</h3>
                                                    <p>As an IT Consultant I develop software tools used in the
                                                        automotive industry and consult clients.</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="single-experience-box">
                                                    <span>09/2018 - 12/2019 <br> Technical Operations Coordinator</span>
                                                    <h3>SIEMENS Industry Software GmbH</h3>
                                                    <p>As part of the MindSphere Academy Team, I optimized workflows
                                                        and gained practical knowledge in the use of IoT
                                                        Technologies.</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="single-experience-box">
                                                    <span>04/2018 - 08/2018 <br> Core Developer</span>
                                                    <h3>Institute of Informationmanagement in Engineering</h3>
                                                    <p>As part of the Core Developer Team, I worked on the
                                                        implementation of the game 'Factorio' within a Virtual
                                                        Reality environment.</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="single-experience-box">
                                                    <span>09/2017 - 09/2018 <br> Business Administration</span>
                                                    <h3>SIEMENS AG</h3>
                                                    <p>In the Power Generation and Service Division I was
                                                        responsible for the analysis of
                                                        cost trends and the maintenance of service contracts using
                                                        SAP.</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="single-experience-box">
                                                    <span>06/2016 - 11/2016 <br> Business Development</span>
                                                    <h3>M-A-U-S Seminare gGmbH</h3>
                                                    <p>In a Team with other Students, I helped MAUS to a rapid
                                                        expansion in the entire German area.</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="single-experience-box">
                                                    <span>08/2014 - 02/2015 <br>Projectmanagement & Marketing</span>
                                                    <h3>translake GmbH</h3>
                                                    <p>Intern in projectmanagement where I work on EU funded
                                                        projects.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs-item">
                                    <div class="education-area">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="single-education-box">
                                                    <span>04/2016 - 03/2019 <br> Masters in Economics Engineering</span>
                                                    <h3>Karlsruhe Institute of Technology</h3>
                                                    <p>With main focus in Industry 4.0 and virtual engineering using
                                                        virtual reality. </p>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="single-education-box">
                                                    <span>10/2011 - 04/2015 <br> Bachelor in Economics</span>
                                                    <h3>University of Constance</h3>
                                                    <p>With main focus on data analytics and econometrics.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="tabs-item">
                                    <div class="certification-area">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                                <div class="single-certification-box">
                                                    <img src="../../../../assets/img/certification/img1.png"
                                                         alt="image">
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                                <div class="single-certification-box">
                                                    <img src="../../../../assets/img/certification/img2.png"
                                                         alt="image">
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                                <div class="single-certification-box">
                                                    <img src="../../../../assets/img/certification/img3.png"
                                                         alt="image">
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                                <div class="single-certification-box">
                                                    <img src="../../../../assets/img/certification/img4.png"
                                                         alt="image">
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                                <div class="single-certification-box">
                                                    <img src="../../../../assets/img/certification/img5.png"
                                                         alt="image">
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                                <div class="single-certification-box">
                                                    <img src="../../../../assets/img/certification/img6.png"
                                                         alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="about-image">
                        <img src="../../../../assets/img/about-img2.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="stack" class="pt-120 pb-90 bg-0f1d22">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Stack</span>
                <h2>Technologies I regularly use</h2>
            </div>
        </div>

        <div class="container m-auto">
            <mat-grid-list gutterSize="12px" cols="3" rowHeight="3:1">
                <mat-grid-tile *ngFor="let icon of icons">
                    <a [href]="icon.link">
                        <img [src]="icon.path" alt="image" style="max-height: 70px;">
                    </a>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

    </section>

    <section id="services" class="services-area pt-120 pb-90">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Services</span>
                <h2>What I can do for you</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6" style="transform: scale(0.8); border: 1px solid">
                    <div class="single-services-box">
                        <div class="icon">
                            <i class="flaticon-result"></i>
                        </div>
                        <h3>Business Research & Analytics</h3>
                        <p>I use PowerBi and/or Tableau to give you a deeper insight in a predefined field. Your
                            gain knowledge about your and other businesses and can make more precise decisions based
                            on real data.</p>
                        <a routerLink="/services-details" class="read-more-btn">Read More<i
                            class="ri-arrow-right-s-line"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6" style="transform: scale(1.2); border: 1px solid">
                    <div class="single-services-box">
                        <div class="icon">
                            <i class="flaticon-education"></i>
                        </div>
                        <h3>Web Application Development</h3>
                        <p>I use state of the art technologies and best practice workflows to deliver fast high
                            quality products with consulting and support.</p>
                        <a routerLink="/services-details" class="read-more-btn">Read More<i
                            class="ri-arrow-right-s-line"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6" style="transform: scale(0.8); border: 1px solid">
                    <div class="single-services-box">
                        <div class="icon">
                            <i class="flaticon-team"></i>
                        </div>
                        <h3>IT Consulting</h3>
                        <p>You have a process which needs to be optimized? I have the knowledge to tell you what
                            software and tools you need to use in order to optimize your process and have more time
                            for important things.</p>
                        <a routerLink="/services-details" class="read-more-btn">Read More<i
                            class="ri-arrow-right-s-line"></i></a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section id="portfolio" class="works-area pt-120 pb-90">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Works</span>
                <h2>Some of My Projects</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="works-box">
                        <div class="works-image">
                            <a routerLink="/works-details">
                                <img src="../../../../assets/img/riskmanagement.svg" alt="image">
                            </a>
                        </div>

                        <div class="works-content">
                            <h3><a routerLink="/works-details">Riskmanagement Tool for the automotive industry</a></h3>
                            <ul>
                                <li>Webdevelopment</li>
                                <li>Analytics</li>
                                <li>Consulting</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="works-box">
                        <div class="works-image">
                            <a routerLink="/works-details" class="text-center">
                                <img src="../../../../assets/img/drone.svg" alt="image">
                            </a>
                        </div>

                        <div class="works-content">
                            <h3><a routerLink="/works-details">Dronegraphy Platform</a></h3>
                            <ul>
                                <li>Webdevelopment</li>
                                <li>Design</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="works-box">
                        <div class="works-image">
                            <a routerLink="/works-details" class="text-center">
                                <img src="../../../../assets/img/worldwide.svg" alt="image">
                            </a>
                        </div>

                        <div class="works-content">
                            <h3><a routerLink="/works-details">Company-wide Intranet for Health, Safety & Environment</a></h3>
                            <ul>
                                <li>Webdevelopment</li>
                                <li>Design</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="works-box">
                        <div class="works-image">
                            <a routerLink="/works-details">
                                <img src="../../../../assets/img/environmental.svg" alt="image">
                            </a>
                        </div>

                        <div class="works-content">
                            <h3><a routerLink="/works-details">Environmental Management Platform</a></h3>
                            <ul>
                                <li>Webdevelopment</li>
                                <li>Analytics</li>
                                <li>Consulting</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="works-box">
                        <div class="works-image">
                            <a routerLink="/works-details">
                                <img src="../../../../assets/img/trainingmanagement.svg" alt="image">
                            </a>
                        </div>

                        <div class="works-content">
                            <h3><a routerLink="/works-details">Training Management Tool</a></h3>
                            <ul>
                                <li>Application Development</li>
                                <li>Workflow</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="works-box">
                        <div class="works-image">
                            <a routerLink="/works-details">
                                <img src="../../../../assets/img/website.svg" alt="image">
                            </a>
                        </div>

                        <div class="works-content">
                            <h3><a routerLink="/works-details">Heat & Power Web Presence</a></h3>
                            <ul>
                                <li>Webdevelopment</li>
                                <li>Design</li>
                                <li>Consulting</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="feedback-area">
         <div class="container-fluid">
             <div class="row">
                 <div class="col-lg-5 col-md-12">
                     <div class="feedback-content">
                         <div class="d-table">
                             <div class="d-table-cell">
                                 <div class="section-title">
                                     <span class="sub-title">Testimonials</span>
                                     <h2>What my clients say about me</h2>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

                 <div class="col-lg-7 col-md-12">
                     <div class="feedback-slides-content bg-0f1d22">
                         <div class="feedback-slides owl-carousel owl-theme">
                             <div class="single-feedback-item">
                                 <i class="ri-double-quotes-r"></i>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt
                                     ut labore et dolore magna aliqua. eiusmod Quis ipsum suspendisse ultrices
                                     gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                                 <div class="client-info">
                                     <h3>Jason Statham</h3>
                                     <span>Web Developer</span>
                                 </div>
                             </div>

                             <div class="single-feedback-item">
                                 <i class="ri-double-quotes-r"></i>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt
                                     ut labore et dolore magna aliqua. eiusmod Quis ipsum suspendisse ultrices
                                     gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                                 <div class="client-info">
                                     <h3>Sarah Taylor</h3>
                                     <span>Web Designer</span>
                                 </div>
                             </div>

                             <div class="single-feedback-item">
                                 <i class="ri-double-quotes-r"></i>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt
                                     ut labore et dolore magna aliqua. eiusmod Quis ipsum suspendisse ultrices
                                     gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                                 <div class="client-info">
                                     <h3>David Warner</h3>
                                     <span>PHP Developer</span>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>-->

    <div class="my-clients-area ptb-120">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Experience</span>
                <h2>Companies I worked with</h2>
            </div>

            <div class="row justify-content-center">
                <div *ngFor="let company of companies" class="col-lg-2 col-md-3 col-sm-5 col-5">
                    <div class="single-clients">
                        <a [href]="company.link">
                            <img [src]="company.path" alt="image" [ngClass]="company.class">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="hire-me-area bg-0f1d22 ptb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="hire-me-content">
                        <span class="sub-title">Project in mind? Let's talk!</span>
                        <h2>I am Available for Freelance Hire</h2>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12">
                    <div class="hire-me-btn">
                        <a href="#contact" class="default-btn">Hire Me</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--        <section id="blog" class="blog-area pt-120 pb-90">-->
    <!--            <div class="container">-->
    <!--                <div class="section-title">-->
    <!--                    <span class="sub-title">Blog</span>-->
    <!--                    <h2>Comming Soon</h2>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </section>-->

    <section id="contact" class="contact-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="contact-content">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <div class="section-title">
                                    <h2>Get in Touch With Me</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-12">
                    <div class="contact-form bg-0f1d22">
                        <form id="contactForm">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" class="form-control"
                                               placeholder="Enter your name">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="form-control"
                                               placeholder="Enter your email">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30"
                                                      rows="5" placeholder="Enter your message"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="default-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>
