<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let project of projects">
        <div class="works-box">
            <div class="works-image">
                <a [routerLink]="['/works-details', project._id]">
                    <img [src]="serverPath+project.contentUrl" alt="image">
                </a>
            </div>

            <div class="works-content">
                <h3><a [routerLink]="['/works-details', project._id]">{{project.title}}</a></h3>
                <ul>
                    <li *ngFor="let category of project.category.edges">{{category.node.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
