<div class="tabs-item">
    <div class="education-area">
        <div class="row">
            <div @fadeInRight class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-education-box">
                    <span>04/2016 - 03/2019 <br> Masters in Economics Engineering</span>
                    <h3>Karlsruhe Institute of Technology</h3>
                    <p>With main focus in Industry 4.0 and virtual engineering using
                        virtual reality. </p>
                </div>
            </div>

            <div @fadeInLeft class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-education-box">
                    <span>10/2011 - 04/2015 <br> Bachelor in Economics</span>
                    <h3>University of Constance</h3>
                    <p>With main focus on data analytics and econometrics.</p>
                </div>
            </div>

        </div>
    </div>
</div>

