<footer class="footer-area">
    <div class="container">
        <div class="footer-content">
            <div class="logo">
                <a routerLink="/home">
                    <img style="height: 90px" src="../../../assets/img/logo_qv.svg" alt="image">
                </a>
            </div>

            <div class="footer-contact-info">
                <ul>
                    <li><i class="ri-map-pin-line"></i> <a
                        href="https://www.google.de/maps/place/Konstanz/@47.7084536,9.0816668,12z/data=!3m1!4b1!4m5!3m4!1s0x479af61b380c1f5b:0x41f6bb7a5df99d0!8m2!3d47.6779496!4d9.1732384"
                        target="_blank">78467 Constance, Baden-Württemberg, Germany</a></li>
                    <li><i class="ri-phone-line"></i> <a href="tel:+4915156424831">+49 151 56 42 48 31</a></li>
                    <li><i class="ri-mail-line"></i> <a
                        href="mailto:qendrim.vllasa@gmail.com">qendrim.vllasa@gmail.com</a></li>
                </ul>
            </div>

            <ul class="social">
                <li><a href="https://www.facebook.com/qendrim.vllasa" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/qvllasa92" target="_blank">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/qendrim-vllasa/" target="_blank">Linkedin</a></li>
                <li><a href="https://www.instagram.com/qndrvll/" target="_blank">Instagram</a></li>
                <li><a href="https://github.com/QVllasa" target="_blank">Github</a></li>
            </ul>
            <ul class="social">
                <li><a routerLink="/legal">Legal</a></li>
                <li><a routerLink="/privacy">Privacy</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom-area">
        <div class="container">
            <p>Copyright <i class="ri-copyright-line"></i>{{date | date: 'yyyy'}} Qendrim Vllasa. All Rights Reserved.</p>

        </div>

        <div class="line"></div>
    </div>
</footer>
